.header {
  text-align: center;
  background-color: #1b15c6;
  margin: 2;
  padding: 1;
}

.nav ul {
  color: white;
}

body {
  background-color: #adabab;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white;
}
