@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.header {
  text-align: center;
  background-color: #1b15c6;
  margin: 2;
  padding: 1;
}

.nav ul {
  color: white;
}

body {
  background-color: #adabab;
  font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white;
}
